<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
    <link rel="stylesheet" type="text/css" href="/static/ChatStyle.css"></head>
<body>
<div class="container">
    <h1>Добро пожаловать в SpiritCHAT, {{ current_user.nickname }}!</h1>
 <!-- Кнопка создания чата -->
   <button onclick="location.href='/profile'">Личный профиль</button>

    <!-- Кнопка создания чата -->
    <button onclick="location.href='/create_chat'">Создать новый чат</button>

    <!-- Кнопка создания канала -->
    <button onclick="location.href='/create_channel'">Создать новый канал</button>

     <!-- Кнопка создания диалога -->
    <button onclick="location.href='/create_dialog'">Создать новый диалог</button>

    <!-- Поисковая строка -->
    <form action="/home" method="get">
        <input type="text" id="search_query" name="search_query">
        <input type="submit" value="Search">
    </form>

{% if search_query %}
    {% if search_results_chats or search_results_channels %}
        <h2>Результаты поиска</h2>
        <div class="search-results">
            {% for chat in search_results_chats %}
            <div class="chat-item">
                <h3>{{ chat['chat_name'] }}</h3>
                <p>Owner: {{ chat['owner_phone_number'] }}</p>
                <p>Последнее сообщение: {{ chat.last_message }} - {{ chat.last_message_timestamp }}</p>
    <!-- Условие, чтобы показать ссылку только для участников или владельцев чата -->
                {% if chat['is_member'] or chat['owner_phone_number'] == current_user.phone_number %}
                <a href="/chat/{{ chat['id'] }}">Перейти в чат</a>
                {% else %}
                <form action="/join_chat/{{ chat['id'] }}" method="post">
                    <input type="submit" value="Присоединиться к чату">
                </form>
                {% endif %}
            </div>
            {% endfor %}


            {% for channel in search_results_channels %}
            <div class="channel-item">
                <h3>{{ channel['name'] }}</h3>
                <p>Owner: {{ channel['owner_phone_number'] }}</p>
                <p>Last Message: {{ channel['last_message'] }}</p>
                <a href="/channels/{{ channel['id'] }}">Перейти в канал</a>
                {% if channel['id'] not in subscribed_channels and channel['owner_phone_number'] != current_user.phone_number %}
                <form action="/join_channel/{{ channel['id'] }}" method="post">
                    <input type="submit" value="Присоединиться к каналу">
                </form>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}



<h2>Ваши диалоги</h2>
<div class="dialogs-list">
    {% for dialog in dialogs %}
        <div class="dialogs-item">
            <p>{{ dialog.interlocutor_phone_number }}</p>
            {% if '[[FILE]]' in dialog.last_message %}
                {% set message_text, file_info = dialog.last_message.split('[[FILE]]') %}
                {% if ', ' in file_info %}
                    {% set file_id, file_name = file_info.replace('[[/FILE]]','').split(', ') %}
                {% else %}
                    {% set file_id = file_info.replace('[[/FILE]]','') %}
                    {% set file_name = "unknown" %}
                {% endif %}
                <p> {{ message_text }} - <a href="/files/{{ file_id.split(': ')[1] }}"> {{ file_name.split(': ')[1] }}</a> - {{ dialog.last_message_timestamp }}</p>
            {% else %}
                <p> {{ dialog.last_message }} - {{ dialog.last_message_timestamp }}</p>
            {% endif %}
            <a href="/dialogs/{{ dialog.id }}">Перейти в диалог</a>
            <form action="/dialogs/{{ dialog['id'] }}/delete_post" method="post">
                <input type="submit" value="Удалить диалог">
            </form>
        </div>
    {% endfor %}
</div>

<h2>Ваши чаты</h2>
<div class="chat-list">
    {% for chat in chats %}
    <div class="chat-item">
        <h3>{{ chat['chat_name'] }}</h3>
        {% if chat['id'] in left_chats %}
        <p>Вы покинули чат</p>
        {% endif %}
        <p>Владелец: {{ chat['owner_phone_number'] }}</p>
        <!-- Вставляем номер отправителя последнего сообщения -->
        <p> {{ chat['last_message_sender_phone'] }} : {{ chat['last_message'] }}{% if chat['last_message_file'] %} (Приложение: {{ chat['last_message_file'] }}){% endif %} - Время: {{ chat['last_message_timestamp'] }}</p>
        <a href="/chat/{{ chat['id'] }}">Перейти в чат</a>
    </div>
    {% endfor %}
</div>

    <!-- ... -->
<h2>Ваши каналы</h2>
<div class="channel-list">
    {% for channel in channels %}
    <div class="channel-item">
        <h3>{{ channel['name'] }}</h3>
        <p>Владелец: {{ channel['owner_phone_number'] }}</p>

        <!-- Добавляем условие для проверки принадлежности канала -->
        {% if channel['owner_phone_number'] == current_user.phone_number and channel['last_owner_message'] %}
            <p>{{ channel['last_owner_message'] }} - {{ channel['last_owner_message_timestamp'] }}</p>
            {% if channel['last_owner_message_file'] %}
            <a href="/files/{{ channel['last_owner_message_file'] }}">Посмотреть прикрепленный файл</a>
            {% endif %}
        {% elif channel['last_message'] %}
            <p>{{ channel['last_message'] }} - {{ channel['last_message_timestamp'] }}</p>
            {% if channel['last_message_file'] %}
            <a href="/files/{{ channel['last_message_file'] }}">Посмотреть прикрепленный файл</a>
            {% endif %}
        {% endif %}
        <a href="/channels/{{ channel['id'] }}">Перейти в канал</a>
        {% if channel['owner_phone_number'] == current_user.phone_number %}
        <form action="/channels/{{ channel['id'] }}/delete" method="post">
            <input type="submit" value="Удалить канал">
        </form>
        {% endif %}
    </div>
{% endfor %}
<!-- ... -->

</div>
    <button onclick="location.href='/logout'">Выйти из аккаунта</button>
</div>
</body>
</html>
