<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .nickname {
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
        }

        .status {
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            color: #928F8F;
        }
    </style>
</head>
<body>

<div class="container" style="max-width: 429px;">
    <h2>Contact List</h2>

    {% for user in contacts %}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img id="profile-image" src="/get/{{ user.id }}/profile_picture/" alt="Ваше изображение"
                         class="rounded-circle mt-3" width="60" height="60">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title nickname">{{ user.nickname }}</h5>
                        {% if user.status_visibility %}
                            <p class="card-text status">{{ user.status }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
