<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Диалог</title>
    <link rel="stylesheet" href="/static/dialogsStyle.css">
</head>
<body>
    <div class="container">
        <h1>Диалог с {{ dialog.interlocutor_phone_number }}</h1>
        <h2>Был(а) онлайн: {{ dialog.last_online }}</h2>

        <h3>Сообщения:</h3>
        <ul>
            {% for message in messages %}
                {% if not message.delete_timestamp %}
                    <li>
                        {{ message.sender_id }}:
                        {% if '[[FILE]]' in message.message %}
                            {% set message_text, file_info = message.message.split('[[FILE]]') %}
                            {% if ', ' in file_info %}
                                {% set file_id, file_name = file_info.replace('[[/FILE]]','').split(', ') %}
                            {% else %}
                                {% set file_id = file_info.replace('[[/FILE]]','') %}
                                {% set file_name = "unknown" %}
                            {% endif %}
                            {{ message_text }}
                            <a href="/files/{{ file_id.split(': ')[1] }}"> {{ file_name.split(': ')[1] }}</a>
                        {% else %}
                            {{ message.message }}
                        {% endif %}
                        <br>
                        Отправлено: {{ message.timestamp.strftime('%Y-%m-%d %H:%M:%S') if message.timestamp else 'нет данных' }}
                        {% if message.sender_id == current_user.id %}
                            <form action="/dialogs/{{ dialog.id }}/delete_message/{{ message.id }}" method="post">
                                <input type="hidden" name="dialog_id" value="{{ dialog.id }}">
                                <input type="hidden" name="message_id" value="{{ message.id }}">
                                <input type="submit" value="Удалить сообщение">
                            </form>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <h3>Отправить сообщение:</h3>
        <form action="/dialogs/{{ dialog.id }}/send_message" method="post" enctype="multipart/form-data">
            <input type="hidden" name="dialog_id" value="{{ dialog.id }}">
            <input type="hidden" name="sender_id" value="{{ current_user.id }}">
            <textarea name="message"></textarea>
            <label for="file">Прикрепить файл:</label>
            <input type="file" id="file" name="file">
            <input type="submit" value="Отправить">
        </form>

        <button onclick="location.href='/home'">Вернуться на главную</button>
    </div>
    <script>
        let dialogId = "{{ dialog.id }}";
        let socket = new WebSocket(`ws://${window.location.host}/ws/dialogs/${dialogId}/`);

        socket.onmessage = function(e) {
            let data = JSON.parse(e.data);
            let message = data['message'];
            // Добавьте код для добавления сообщения в список сообщений
            let li = document.createElement("li");
            li.innerHTML = `${message.sender_id}: ${message.message}`;
            document.querySelector('ul').appendChild(li);
        };

        socket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
</body>
</html>
