<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/static/ProfileStyle.css">
</head>
<body>
    <h1>Profile of {{user.nickname}}</h1>
<div id="ProfilePictureWindow">
    <!-- Добавлен случайный параметр к URL изображения -->
    <img src="/profile/picture/{{ user.phone_number }}?{{ time.time() }}" alt="Profile picture">
    <!-- Добавленная кнопка для удаления изображения профиля -->
    <form action="/profile/delete_picture" method="post">
        <input type="submit" value="Delete Picture">
    </form>
</div>
    <h3>Status: {{user.status}}</h3>
    <p>Nickname: {{user.nickname}}</p>
    <p>Full name: {{user.first_name}} {{user.last_name}}</p>
    <p>Phone number: {{user.phone_number}}</p>
    <p>Email: {{user.email}}</p>
    <p>Position: {{user.position}}</p>

<form action="/profile/update" method="post" enctype="multipart/form-data">
    <label for="nickname">New Nickname:</label><br>
    <input type="text" id="nickname" name="nickname" value="{{user.nickname}}"><br>
    <label for="status">New Status:</label><br>
    <input type="text" id="status" name="status" value="{{user.status or ''}}"><br>
    <label for="profile_picture">New Profile Picture:</label><br>
    <input type="file" id="profile_picture" name="profile_picture"><br>
    <input type="submit" value="Update">
</form>

<form action="/home">
    <input type="submit" value="Back to Home" />
</form>
</body>
</html>
